body {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1.1em;
  width: 270px;
  background-color: rgb(236, 236, 236);
}

span, label {
  color: black;
}

div.container {
  display: flex;
  flex-direction: row;
}

div.selects > div.container {
  margin-bottom: 0.4em;
}

div.main {
  position: relative;
}

div.main > div.container {
  margin-bottom: 0.4em;
}

div.checkboxes div.container:first-of-type {
  margin-top: 0.3em;
}

div.button {
  margin-top: 0.9em;
  margin-bottom: 1.8em;
  text-align: center;
}

input[type="radio"] {
  margin-top: 1px;
  margin-bottom: 1px;
}

input[name="exclude"] {
  margin-top: 1px;
  margin-bottom: 3px;
}

input[name="exclude"] + div {
  font-size: 0.9em;
}

input[disabled] + div label {
  color: rgb(170, 170, 170);
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(48, 53, 59);
  }

  span, label {
    color: white;
  }

  input[disabled] + div > label {
    color: rgb(95, 105, 110);
  }
}
